<!doctype html>
<html lang="en">
<head>
    <meta name="color-scheme" content="dark light" />
    <link href="/assets/main.css" rel="stylesheet"/>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <!-- Allow any inheriting page to set it's own title -->
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <!-- Allow any inheriting page to extend head with additional assets -->
    {% block head %}{% endblock %}
</head>
<body>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
