<form 
    class="w-screen"
    hx-boost="true"
    hx-push-url="true"
    action="/"
    method="get"
>
    <div class="z-50 fixed top-0 left-0 w-full h-12 flex bg-green-900">
        <div class="flex basis-1/2">
            <a class="text-slate-200 relative px-3 top-2" href="/">Cataloguer</a>
            <input
                    type="text"
                    name="search"
                    id="search"
                    placeholder="Search for Netrunner Cards"
                    value="{{query}}"
                    class="relative w-1/2 left-4 indent-2 block bg-stone-400 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-200 focus:ring-2 focus:ring-inset focus:ring-emerald-600 sm:text-sm sm:leading-6"
            />
            <button
                    type="submit"
                    class="rounded-md relative left-5 bg-emerald-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-emerald-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600"
            >
                Find cards
            </button>
        </div>
        <div class="flex flex-row-reverse basis-1/2 relative top-2 text-slate-200">
            <a class="relative right-10 px-3"href="/syntax">Syntax Guide</a>
            <a class="relative right-10 px-3"href="https://netrunnerdb.com/en/sets">Sets (nrdb)</a>
            <a class="relative right-10 px-3"href="https://github.com/Nephralite/cataloguer">Source</a>
        </div>
    </div>
</form>
<div id="cards" class="z-0 relative top-14">
