{% extends "base.html" %}
{% block title %}Sets | Cataloguer Search{% endblock %}

{% block content %}
{% include "search-bar.html" %}
<table class="place-content-center justify-center">     
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Cards</th>
            <th>Release Date</th>
        </tr>
    </thead>
    <tbody>
        {% for set in sets %}
        <tr>
            <th class="text-left"><a href="/?search=set:{{set.code}}">
                {% if !set.cycle -%}
                    {{">"}}
                {%- endif %}
                {{set.name}}
                </a></th>
            <th>{{set.code}}</th>
            <th>{{set.cards}}</th>
            <th>{{set.date}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
