{% extends "base.html" %}
{% block title %}Sets | Cataloguer Search{% endblock %}

{% block content %}
{% include "search-bar.html" %}
<table>     
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Cards</th>
            <th>Release Date</th>
        </tr>
    </thead>
    <tbody>
        {% for set in sets %}
        <tr>
            <th><a href="/?search=set:{{set["code"].as_str().unwrap()}}">{{set["name"].as_str().unwrap()}}</a></th>
            <th>{{set["code"].as_str().unwrap()}}</th>
            <th>{{set["cards"].to_string()}}</th>
            <th>{{set["date"].as_str().unwrap()}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
